<html>
<head>
<link rel="stylesheet" href="{{MEDIA_URL}}/style.css" type="text/css">
<script type="text/javascript" src="{{MEDIA_URL}}/jquery.js"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}/themes/base/jquery.ui.all.css">
<script src="{{MEDIA_URL}}/ui/jquery.ui.core.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.widget.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.tabs.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.datepicker.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.dialog.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.effects.core.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.button.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.draggable.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.position.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.resizable.js"></script>
<script src="{{MEDIA_URL}}/ui/jquery.ui.mouse.js"></script>
<script src="{{MEDIA_URL}}/external/jquery.bgiframe-2.1.2.js"></script>
<script type="text/javascript" language="javascript" src="{{MEDIA_URL}}/jquery.dataTables.js"></script>
<link rel="stylesheet" href="{{MEDIA_URL}}/demo_page.css" type="text/css">
<link rel="stylesheet" href="{{MEDIA_URL}}/demo_table.css" type="text/css">
<link rel="stylesheet" href="{{MEDIA_URL}}/TableTools/media/css/TableTools.css" type="text/css">
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}/ZeroClipboard.js"></script>
<script type="text/javascript" charset="utf-8" src="{{MEDIA_URL}}/TableTools.js"></script>
</head>
<body bgcolor="#94AECE">
<div class="main_button">
<form method="GET" action="/recruit/recruit_index/">
<input type="submit" value="Recruitment Management" class="button blue" /></form>
<form method="GET" action="/recruit/leave_index/">
<input type="submit" value="Leave Management" class="button blue" /></form>
</div>
</body>
</html>
