{% include "base.html" %}
<html>
<body>
<div id="maincontent">
<table>
<tr>
<td><form method="POST" action='/recruit/add_candidate/'><input type="submit" value="Add Details" class="button blue"></form></td>
<td><form method="POST" action="/recruit/update_candidate_mainpage/"><input type="submit" value="Update Details" class="button blue"></form></td>
<td><form method="POST" action="/recruit/home/"><input type="submit" value="Back To Homepage" class="button blue"></form></td>

</tr>
</table>
<div>
</body>
</html>